h1{
    line-height: 450%;
    font-size: 200%;
    color: white;
    background-color: navy;
    font-weight: 900;
    text-align: center;
    margin: auto;
    padding: auto;
  }
  
  .reol{
   display: inline-block;
   display:flex;
  }
  table {
     
      width: 290px;
  }
  table th {
      white-space: nowrap;
      width: 100px;
  }
  select{
  font-size: 160%;
      width: 290px;
      height: 70px;
  }
  .aaaa{
      display: flex;
      flex-direction: row;
      height: 600px;
  }
  
  /*全体*/
.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
      width: 290px;
      height: 200px;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
