h1{
    line-height: 450%;
    font-size: 200%;
    color: white;
    background-color: navy;
    font-weight: 900;
    text-align: center;
    margin: auto;
    padding: auto;
  }
  
  .reol{
   display: inline-block;
   display:flex;
  }
  table {
     
      width: 290px;
  }
  table th {
      white-space: nowrap;
      width: 100px;
  }
  select{
  font-size: 160%;
      width: 290px;
      height: 70px;
  }
  .aaaa{
      display: flex;
      flex-direction: row;
      height: 600px;
  }
  
  /*全体*/
.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
      width: 290px;
      height: 200px;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

.label-box {
    /* box-sizing はプラグインで padding-top を付与したときに height を変えないようにするために付けています */
    box-sizing: border-box;
    height: 240px;
    width: 320px;
    /* 縦横中央揃え */
    display: flex;
    align-items: center;
    justify-content: center;
    /* グラフ上に配置 */
    margin-top: -240px;
  }
  
  /* タイトル、値 */
  .label-box .label {
    color: #636363;
    text-align: center;
  }
  .label-box .label .title {
    font-size: 20px;
    letter-spacing: .05em;
    margin-bottom: 3px;
    padding-top: 13px;
  }
  .label-box .label .value {
    font-size: 60px;
    line-height: 1em;
  }
  .label-box .label .value .per {
    font-size: 20px;
  }